html,
body {
    height: 100%;
    background: rgba(250, 250, 250, 0.10);
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background: #42444E;
}

.wrap > .container {

    padding: 70px 15px 70px;
    background: #E8E6E6;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.items{
    margin-top: 20px;
}



.template-input-design{
   /* background: ghostwhite;*/
    padding:0px 15px;
}

.template-input-design:focus{
    background: ghostwhite;

}

.ice9QuotationHeader{
    background: url('../images/ice9.png');
}

.home_item{
    height: 200px;
    background:#f5f5f5;
    margin: 2% 0 0 2%;

}

.home_item:hover{
    background: ghostwhite;
    -moz-box-shadow:    inset 0 0 10px #f5f5f5;
    -webkit-box-shadow: inset 0 0 10px #f5f5f5;
    box-shadow:         inset 0 0 10px #f5f5f5;
}

.home_link{
    margin-top: 30%;
    font-size: 22px;
}

.template-create-label{
    width: 200px;
    background: floralwhite;
}

.template-section {
    padding: 2%;
    border-radius: 5px;
    -moz-box-shadow:    inset 0 0 8px ghostwhite ;
    -webkit-box-shadow: inset 0 0 8px ghostwhite ;
    box-shadow:         inset 0 0 8px ghostwhite ;
}


